body {
    font: 16px Nunito;
    width: 100%;
    margin: auto;
    background: #fff;
    color: #222;
}

.title {
    padding: 10px;
    text-align: center;
    border-bottom: 3px solid #025c50;
}

.main-container {
    min-height: 440px;
    margin-top: 25px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 100px 1fr;
    max-width: 500px;
    margin: auto;
}

.item {
    border: 2px solid #ccc;
    border-radius: 3px;
    box-shadow: 2px 2px 10px 0 #ccc;
    padding: 10px;
    background: #fff;
    color: #222;
    text-align: center;
}

    .item img {
        width: 80%;
        filter: drop-shadow(0px 0px 5px #555);
    }

    .item p {
        font-size: 18px;
        text-transform: capitalize;
    }

.text {
    text-align: center;
    margin: auto;
    font-size: 32px;
}

.btn {
    background: #025c50;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    margin: 25px auto;
}

    .btn:hover {
        background: #038170;
    }

.footer {
    border-top: 3px solid rgb(2, 92, 80);
}
    
    .footer p {
        text-align: center;
    }

.emoji {
    font-size: 18px;
    color: #DD2E44;
}
